/* →亮系主色 */
$lightPrimaryColor: #392a93;
/* 暗系主色 */
$darkPrimaryColor: #9086cc;
/* 文字名稱 */
$textNameColor: #a9d3ff;
/* 移動條顏色 */
$moveColor: #fa7e5f;
/* 暗系背景色 */
$darkBgColor: #1d1d1d;
/* 文字名稱顏色 */
$anotherColor: #cfcfcf;
/* 配色 */
$otherColor: #eaeaea;
/* 亮系背景色 */
$lightBgColor: #fefefe;
/* 地圖背景色 */
$mapBgColor: white;
/* 字型 */
$fontC: "Noto Sans TC", sans-serif;
$fontE: "Noto Serif", serif;
